

*{
    margin: 0;
    padding: 0;
    font-family: lato, arial;
    
    
}
.regis-body{
    background-image:linear-gradient(70deg,#2ecc71,#2980b9);
}
.container{
    
    padding-top: 15px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    width:960px;
    color:dimgrey;
    margin: 0 auto;
    font-size: 18px;
    
     
}


.container-regisform{
    background-color: white;
    margin: 30 auto;
    border-radius: 5px;
    
}

.container-home h1{
    margin: 15px;
    text-align: center;
}
.formbox{
    display:block;
    margin-top:15px;
    
    
    
}
label {
    margin-left: 5px;
    margin-right: 5px;
}
.btn{
    width: 350px;
    height: 40px;
    background-color: transparent;
    color: #2ecc71;
    border: 2px solid #2ecc71;
    border-radius: 12px;
    border-style: outset;
    transition: background-color 0.1s,border 0.1s;
}

.btn:hover{
    background-color: #2980b9;
    color:white;
     border-radius: 12px;
    border-style: outset;
    border: 2px solid #2980b9;
}
.txt_input{
    text-decoration: none;
    font-size: 18px;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid #2ecc71;
    width:39.7%;
    height: 35px;
    outline: none;
    padding-left: 7px;
    transition: border-bottom 0.2s;
    
}
.usr_pass_retype{
    width: 83.5%
}
.txt_input:focus{
    border-bottom: 2px solid #2980b9;
}
.submitbtn{
    text-align: center;
    margin-top: 40px;
}
.usr_name,
.usr_lastname{
    width: 41.9%;
}
.usr_address{
    width: 91.8%;
}

.agreementBox{
    margin-top: 40px;
    text-align: center;
}
.nav-header ul{
   
}
.nav-header li{
    
    display:inline-block;
    font-size: 18px;
    color:gray;
    padding-right: 15px;
    list-style: none;
    text-align: right;
    float:right;
    margin-top: 15px;
    margin-right: 35px;
    
    
}

.nav-header, li,.nav-header a,.nav-header a:visited{
    text-decoration: none;
    color:white;
}

.header {
    
    color: white;
    background-color: #2980b9;
    text-align: center;
    font-size: 35px;
    padding: 35;
    
}

.topfeed{
    
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 15px auto;
    
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}
.home-body {
    background-color: #ecf0f1;
}

.topfeed-news {
    
}

.topfeed-headerTxt {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.topfeed-img {
    position: relative;
    float:left;
    
}



.topfeed-txtContent {
    margin-left:55px;
    
}

.roombox {
    background-color: white;
    border: 1px solid grey;
    border-radius: 7px;
   
}

.roombox-roomname {
    border-bottom: 1px solid grey;
}

.roombox-header {
     padding: 5px 0px 5px 10px;
    color:white;
    margin:0 auto;
    border-bottom: 1px solid grey;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
     background-color:green;
}

.roombox-body {
     padding: 5px 0px 5px 10px;
   
}

.roombox-body ul{
    list-style: none;
    
} 

.roombox-body li, .roombox-body a, roombox-body a:visited{
    color:grey; 
    text-decoration: none;
}

.container-forum {
    padding:35px;
    background-color: white;
    margin-top:15px;
    border-radius: 7px;
    border:1px solid #bfbfbf;
}

.txt-forum{
    width:100%;
    outline: none;
    text-decoration: none;
    padding-left:15px;
    font-size: 23;
    padding-top: 5px;
    padding-bottom: 5px;
  
    border:0px;
    border-bottom: 1px solid #bfbfbf;
    
}

.forum-body  {
    margin-top:20px;
    
}

.forum-body label, .forum-head label{
    font-size:20px;
}

.txt-forum-content {
    margin-top:10px;
    width:100%;
    height: 450px;
    resize:none;
    padding:15px;
    font-size: 16px;
    outline:none;
    border:1px solid #bfbfbf;
}

.forum-btn {
    margin-top:20px;
    margin: 0 auo;
}
